APP_NAME="Portfolio YFH"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app.up.railway.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=array

QUEUE_CONNECTION=sync

FILESYSTEM_DISK=public

MAIL_MAILER=log
